<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="OrigenDatos" value="" />
    <add key="RutaArchivo" value="" />
    <add key="Servidor" value="" />
    <add key="Usuario" value="" />
    <add key="Contrasena" value="" />
    <add key="NombreBD" value="" />
    <add key="EstaConectado" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SRI_LoginUrl" value="" />
    <add key="EDOC_Endpoint" value="https://edocnube.com/4.3/WSEDOC_RECEPCION/WSRAD_KEY_CARGAR.svc" />
    <add key="Headless" value="true" />
    <add key="RutaDirectorio" value="" />
	<add key="RutaDirNP" value="" />
    <add key="TwoCaptchaApiKey" value="TU_API_KEY_DE_2CAPTCHA" />
    <add key="CapSolverApiKey" value="TU_API_KEY_DE_CAPSOLVER" />
    <add key="2captcha" value="false" />
    <add key="Capsolver" value="false" />
    <add key="TwoCaptchaTimeoutSeconds" value="120" />
    <add key="TwoCaptchaPollSeconds" value="5" />
    <add key="MaxCaptchaCycles" value="5" />
	  
    <!-- Opcional según el sitio -->
    <add key="UseRecaptchaEnterprise" value="false" />
    <add key="UseHCaptcha" value="false" />
    <add key="HumanInteraction" value="true" />
    <add key="EmbedBrowser" value="true" />
    <add key="LicenseKey" value="" />
    <add key="InternetHost" value="8.8.8.8" />
    <add key="usuario" value="" />
    <add key="clave" value="" />
    <add key="savecredentials" value="false" />
	<add key="numAdvertencia" value="0,69" />
	<add key="numBloqueo" value="0,68" />
	<add key="NombreBotonSRI" value="" />
	
	<!--valores para conexion sap-->
	<add key="DevServerType" value="15" />
	<add key="LicenseServer" value="LAPTOP-C00H3US4:40000" />
	<add key="DevServerNode" value="" />
	<add key="DevServer" value="LAPTOP-C00H3US4" />
	<add key="DevDBUser" value="sa" />
	<add key="DevDBPassword" value="B1Admin" />
	<add key="DevSBOUser" value="manager" />
	<add key="DevSBOPassword" value="1234" />
	<add key="DevDatabase" value="DB_KARCHER_PRODUCCION" />
	<add key="OnlyOne" value="true" />
	<add key="Tipo_Pch_Sap" value="SOLSAP" />
	<add key="UseTrusted" value="false" />
	<add key="SAP_VERSION" value="10" />
	  
	<!-- Valores servicio -->
      <add key="ServicioActivo" value="false" />
	  <add key="CargaAutomatica" value="false" />
	  <add key="FrecuenciaMinutos" value="60" />
	  <add key="HoraInicio" value="" />
	  <add key="HoraFin" value="" />
	  <add key="DiaActivoLunes" value="false" />
	  <add key="DiaActivoMartes" value="false" />
	  <add key="DiaActivoMiercoles" value="false" />
	  <add key="DiaActivoJueves" value="false" />
	  <add key="DiaActivoViernes" value="false" />
	  <add key="DiaActivoSabado" value="false" />
	  <add key="DiaActivoDomingo" value="false" />

	  <!-- Valores conf correo -->
	  <add key="SmtpHost" value=""/>
	  <add key="SmtpPort" value=""/>
	  <add key="SmtpUser" value=""/>
	  <add key="SmtpPassword" value=""/>
	  <add key="SmtpFrom" value=""/>
	  <add key="ReportEmailTo" value=""/>
	  <add key="SmtpEnableSsl" value="false"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWSRAD_KEY_CARGAR">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IWSRAD_KEY_VALIDAR" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://edocnube.com/4.3/WSEDOC_RECEPCION/WSRAD_KEY_CARGAR.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSRAD_KEY_CARGAR" contract="EdocServiceReference.IWSRAD_KEY_CARGAR" name="BasicHttpBinding_IWSRAD_KEY_CARGAR" />
      <endpoint address="http://edocsa_reg5_ecu/4.3/WSEDOC_RECEPCION/WSRAD_KEY_VALIDAR.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSRAD_KEY_VALIDAR" contract="EdocServiceKeyValidar.IWSRAD_KEY_VALIDAR" name="BasicHttpBinding_IWSRAD_KEY_VALIDAR" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.10" newVersion="6.0.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>